* {
    margin: 0;
    padding: 0;
    outline: none;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.button {
    padding: 10px 30px;
    background-color: yellow;
    border-radius: 5px;
}